/* styling for the Routine page */
.blog-page {
    min-height: 100vh;
    height: fit-content;
    padding: 3vw;
    font-family: var(--font);
}

/* page title */
.blog-page .css-1jkx6l7, .blog-page .css-1dklj6k {
    color: var(--shade1);
    font-family: var(--font);
}

/* no post title */
.blog-page .css-1dklj6k {
    color: var(--shade2);
    font-family: var(--font);
}

/* my post & create post buttons */
.blog-page .css-7c0i0n, .blog-page .css-73fmtx {
    font-size: 2vw;
    padding: 25px;
    color: white;
}

/* my post & create post buttons */
.blog-page .css-7c0i0n:hover, .blog-page .css-73fmtx:hover {
    background-color: var(--shade6);
    border: 1px solid white
}

/* icon buttons */
.blog-page .css-i857na, .blog-page .css-hb9wqp, .blog-page .css-esamib  {
    background-color: var(--shade3);
    color: white;
}
/* icon buttons */
.blog-page .css-i857na:hover, .blog-page .css-hb9wqp:hover, .blog-page .css-esamib:hover {
    background-color: var(--shade2);
    color: var(--shade6);
}

.blog-page input {
    width: 100vw;
}