:root {
  --shade1: #e1bcba;
  --shade2: #bdcfd2;
  --shade3: #97989d;
  --shade4: #778faf;
  --shade5: #4d648f;
  --shade6: #32496c;
  --trans:  #ffffff00;
  --font: 'Pathway Gothic One', sans-serif;
}

/* import font used throughout pages */
@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');

.global {
background: linear-gradient(0deg, var(--shade1), var(--shade1), var(--shade4), var(--shade5),  var(--shade6), var(--shade6));
background-size: 100% 100%;
min-height: 100vh;
height: fit-content;
font-family: var(--font);
cursor: url("../../public/weight.png") 35 10, auto;
}

/* global modal styles */
/* modal */
.css-wl0d9u {
  font-family: var(--font);
  font-size: 1.5vw;
}

/* card body (to display new lines) */
.css-1idwstw {
  white-space: pre-line;
}

/* modal footer */
.css-1a7q9t8 {
  justify-content: flex-end;
}