/* styling for the header/navigation bar */
.navBar {
    background-color: var(--shade6);
    height: fit-content;
    font-family: var(--font);
    padding: 1.25vw 2vw;
    border-bottom: 0.75vw solid var(--shade2)
}

/* link/icon color */
.navBar a, .navBar button {
    color: white;
    font-size: 2vw;
}