.playlists-page {
    min-height: 100vh;
    height: fit-content;
    padding: 3vw;
}

.playlists-page h1 {
    text-align: center;
    font-family: var(--font);
    color: white;
    font-size: 4vw;
    padding-bottom: 3vw;
    margin-bottom: 3vw;
    border-bottom: 1vh solid var(--shade1);
} 

.playlist-card {
    margin-left: 5px;
    margin-right: 5px;
    outline: solid var(--shade6);
}

.spotify-button {
    color: var(--shade1);
    margin: 1vw;
}

.spotify-button:hover {
    color: #1DB954;
}

.playlist-name {
    color: var(--shade6);
    text-align: center;
    font-family: 'Pathway Gothic One', sans-serif;
}