.profile {
  font-family: var(--font);
  min-height: 100vh;
  height: fit-content;
  padding: 3vw;
}

/* input titles */
.profile-page .css-g6pte{
  font-size: 2vw;
  color: var(--shade1);
}

/* inputs and select boxes */
.profile-page .css-1kp110w, .profile-page .css-7p9xsp {
  font-size: 1.5vw;
  border-color: var(--shade6);
  background-color: var(--shade2);
  opacity: 0.75;
}

.profile-page .css-10t4a5e {
  background-color: rgba(255, 255, 255, 0.435);
}