/* styling for the Routine page */
.routine-page {
    min-height: 100vh;
    height: fit-content;
    padding: 3vw;
    font-family: var(--font);
}

/* page title */
.routine-page .css-1jkx6l7 {
    color: var(--shade1);
    font-family: var(--font);
}

/* no routine message */
.routine-page .css-1dklj6k {
    color: var(--shade2);
    font-family: var(--font);
}

/* new routine button */
.routine-page .css-1qyqv0q {
    font-size: 2vw;
    padding: 25px;
    background-color: var(--shade1);
    color: white;
}

/* new routine button */
.routine-page .css-1qyqv0q:hover {
    background-color: var(--shade5);
}

/* routine card headers */
.routine-page .css-1jb3vzl {
    color: var(--shade5);
    font-family: var(--font);
}

/* routine delete button */
.routine-page .css-i857na {
    background-color: var(--shade3);
    color: white;
}

/* routine delete button */
.routine-page .css-i857na:hover {
    background-color: var(--shade2);
    color: var(--shade6);
}

/* routine card body (to display new lines) */
.routine-page .css-0 {
    white-space: pre-line;
}