/* styling for the Routine page */
.tracker-page {
    min-height: 140vh;
    height: fit-content;
    padding: 3vw;
    font-family: var(--font);
}

/* section titles */
.tracker-page .css-tgwblw {
    color: var(--shade6);
    font-family: var(--font);
}

/* stat label */
.tracker-page .css-14go5ty {
    font-size: 2vw;
}

/* stat value */
.tracker-page .css-1axeus7 {
    font-size: 2.5vw;
}

/* stat caption */
.tracker-page .css-1phhsu0 {
    font-size: 1.5vw;
}

/* select dropdown */
.tracker-page .css-atz6h4 {
    background-color: var(--shade5);
    color: white;
}

/* start & end date left caption */
.tracker-page .css-qfq9qr {
    background-color: var(--shade3);
    color: white;
}

/* start & end date value */
.tracker-page .css-b0j76j {
    background-color: white;
}